<li>
	{{burger}}
	{{!--<form action="burgers/update/{{this.id}}?_mehtod=PUT" method="POST">--}}
	{{!--	<input type="hidden" name="devoured" value="false">--}}
	<button class="change-devoured" type="submit" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}That was tastey!{{else}}Eat Me!{{/if}}
	</button>
	{{!--</form>--}}
</li>
